body { 

       background-image: linear-gradient(to bottom right, #529972, #bae0cb); 

 }


 a {
  
  color: white;
  text-decoration: none;

}

.main {
     
  margin: 0 auto;
  font-family: morris_romanbold;
  width: 790px;
}

@media (max-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
     

  .main { 

    width: min(380px, 90%);
    margin: 0 auto;
    font-family: morris_romanbold;
   }
}




.top {

  font-family: morris_romanbold;
  background-color: black;
  border:5px solid white;
  border-radius: 25px;
  color: white;
  font-size: 150%;
  margin-bottom: 4px;
  width: 100%;

}

.picture_full {


     background-repeat: no-repeat;
     background-size: 100% 100%;


}

.bottom {
      
     float: left;
     border: 5px solid white;
     background-color: black;
     border-radius: 25px;
     color: white;
     font-size: 150%;
     margin-bottom: 30px;
     font-family: morris_romanbold;
     width: 100%;

}


@font-face {
    font-family: 'morris_romanbold';
    src: url('morrisroman-black-webfont.woff2') format('woff2'),
         url('morrisroman-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.blabla {
     
     padding: 10%;
  font-family: "morris_romanbold", "Trebuchet MS"; 
  font-size: 120%;

}


.story {
     
  font-family: "Trebuchet MS"; 
 
  color: white;
  padding: 10%;
  font-size: 120%;

}


.next {

     text-align: center;
     font-weight: bold;


}


.page {

     float: left;
     border: 5px solid white;
     width: 380px;
     height: 640px;
     background-color: black;
     border-radius: 25px;
     margin-bottom: 10px;

}


.left_page {

   margin-right: 10px;

}

.right_page {

   margin-left: 0px;

}


.dialogue_box {

  background-color: black;
  color: white;
  padding: 00px 0px;
  font-size: 120%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */

}

.dialogue {

  
  border: 1px solid white;
  font-family: "Trebuchet MS";
  margin-bottom: 10px;

}


.face {

  width: 48px;
  height: 48px;

}


.story_top {


     text-align: center;
     padding-top: 5%

}